/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Dec, 2017, 1:34:58 PM
    Author     : blaze
*/
body
{
    min-height:100%;
}
.banner-image{
    padding-top: 75px;
   padding-bottom: 83px;
   text-align: center;
   color: #f8f8f8;
   background: url("intro-bg_1.jpg") no-repeat center;
   background-size: cover;
}

#banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
     margin-top: 12%;
     margin-bottom: 12%;
     margin-left: 22%;
    background-color: rgba(0, 0, 0, 0.7);
     max-width: 660px;
}


footer{
    padding: 10px 0;
   background-color: #101010;
color:#9d9d9d;
bottom: 0;
position: fixed;
width: 100%;
}

body{
    margin-bottom: 2px;
}